footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#title { text-decoration: none;
   color: white;
}

#petite_url {
  color: green;
  background-color: transparent;
  text-decoration: none;
}