{% extends 'base.html' %}

{% block content %}

  <div class="container text-center p-5 my-5 bg-success text-white">
      <h1>PetiteURL</h1>
      <p>A TinyURL clone webpage using Flask, Ajax and MongoDB. </p>
  </div>

<div class="container mt-3">
    <div id="response"></div>

        <div class="mb-3 mt-3 text-center" >
            <form>
                {{ form.csrf_token }}
                <p>
                    {{ form.url(class_="form-control p-2s", placeholder_="Paste here the complete URL you want to shorten") }}
                </p>
                {{ form.submit(class_="btn btn-success") }}
                <button type="reset" id="clear" class="btn btn-success">Clear </input>

            </form>
         </div>
    </div>


<script>
$(document).ready(function() {
    $('form').submit(function(e) {
        e.preventDefault();
        var input = document.getElementById("url").value;
        document.getElementById("url").value = "";

     $.getJSON( "/_submit",
                {url: input},
                function(data) {
                  result = data.result.response;
                  is_href_link = data.result.href;
                  if (is_href_link == true){
                  $("#response").html("The PetiteURL version is " + "<a href='" + result + "' Target='_blank'>" + result + "</a>" );
                  }else{
                  $("#response").html(result);
                  }
                }
             );
    });
});

$("#clear").click(function(){
    document.getElementById("response").innerHTML = "";
 })


</script>

{% endblock %}
